html {
    background-color: #434343;
    color: #F3F3F3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
}

table {
    font-size: medium;
    border: 1px solid #F3F3F3;
    margin-left: 1em;
}

th {
    font-size: large;
}

td {
    border: 1px solid #F3F3F3;
}

.faction-table-section {}

.faction-table {
    display: inline-block;
    vertical-align: top;
}

p {}
